<!DOCTYPE HTML>
<html>
<head>
    @await Html.PartialAsync("MetatagsPartial")
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
</head>
<body>
    <div id="page-wrapper">
        @await Html.PartialAsync("HeaderPartial")
        <div id="main">
            <div class="container">
                <div class="row main-row">
                    <div class="col-8 col-12-medium">
                        @RenderBody()
                    </div>
                </div>
                @*await  Html.PartialAsync("SidebarParial")*@
            </div>
        </div>
        @await Html.PartialAsync("FooterPartial")
    </div>
    <script src="~/js/scripts.min.js" asp-append-version="true"></script>
</body>
</html>
