<div>
    <h2>Добро пожаловать на сайт компании BS</h2>
    <p>О нас</p>
    <h1>Вместе с Денисом Быковым мы построили компанию BS, которая занимается разработкой
        ПО для решения задач бизнеса.
    </h1>

</div>
